@font-face{
   font-family:'bitbit';
   src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
 }
/******************INDEX PAGE*******************/
.index_page{
   width: 1000px;
   min-height: 100vh;
   margin: 0 auto;
}
.searchBox{
   margin-top: 1.25rem;
   width: 100%;
   padding: 0 10%;
}
.searchBox>.banners{
   position: relative;
   width: 100%;
   text-align: center;
}
.searchBox>.banners>.bannerIMG{
   width: 100%;
   height: 250px;
   object-fit: contain;
   background-position: left;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   font-size: 65pt;
   font-family:'bitbit';
}
.bannerIMG>h3>span{
   display: inline-block;
   width: 110px;
}
.inputBx{
   width: 100%;
   height: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.inputBx>input{
   width: 380px;
   height: 40px;
   padding-left: 1.35rem;
   font-family:'bitbit';
   letter-spacing: 2px;
   font-size: 1.25rem;
   border: 1px solid lightgray;   
   border-top-left-radius: 2px;
   border-bottom-left-radius: 2px;
}
.inputBx>input:focus{
   outline: none;
}
.inputBx>button{
   cursor: pointer;
   font-family:'bitbit';
   border: none;
   background-color: rgb(79, 218, 153);
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
   color: green;
   height: 40px;
   width: 55px;
}

.Charlist{
   width: 1000px;
   margin: 0 auto;
   min-height: 650px;
}
.srcn{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   column-gap: 15px;
   row-gap: 25px;
}
.scon{
   width: 215px;
   height: 300px;
   overflow: hidden;
}
.seh_abata{
   width: 100%;
   height: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   border: 7px solid rgb(79, 218, 153);
   background-color: rgb(205, 239, 245);
   border-top-left-radius: 1rem;
   transition: 0.35s;
}
.seh_abata:hover{
   background-color: rgb(152, 229, 243);
   cursor: pointer;
}
.seh_abata>img{
   width: 100%;
   margin-top: -10px;
   transition: 0.35s;
}
.seh_sever{
   width: 100%;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   background-color: rgb(79, 218, 153);
}
.seh_sever>.sev{
   font-size: 10pt;
   background-color: #fff;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 2px;
   box-shadow: 1px 1px 0 0 rgba(0,0,0,0.35);
}
.seh_sever>.server{
   width: 60px;
}
.seh_sever>.jobs{
   width: 120px;
   font-weight: 700;
}
.seh_name{
   width: 100%;
   height: 60px;
   background-color: rgb(79, 218, 153);
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   border-bottom-right-radius: 1rem;
   padding: 5px 8px;
}
.seh_name>.val{
   font-size: 10pt;
   background-color: #fff;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 2px;
   box-shadow: 1px 1px 0 0 rgba(0,0,0,0.35);
}
.seh_name>.lv{
   font-family:'bitbit';
   width: 30%;
}
.seh_name>.nick{
   width: 70%;
   font-weight: 600;
}
/******************INDEX PAGE*******************/
/***************charInfos_Page******************/
.charInfos_Page{
   width: 1200px;
   margin: 0 auto;
}
.charInfos_Page>.tovws{
   width: 100%;
   display: flex;
   gap: 0.7rem;
   padding: 15px;
}
.charInfoSelect{
   width: 40%;
   height: 100%;
}
.charImg{
   position: relative;
   width: 100%;
   height: 450px;
   overflow: hidden;
   text-align: center;
   background-image: url("https://static.dnf-universe.com/source/2022/05/68ee13eb-4366-4de1-8faa-71ccbc12452b.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 5px;
   border-top: 1px solid lightgray;
   border-left: 1px solid lightgray;
   box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.35);
}
.yposc{
   position: absolute;
   z-index: 999;
   width: 100%;
   height: 55px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1.75em;
}
.yposc>span{
   display: inline-block;
   height: 40px;
   line-height: 38px;
   background-color: rgba(243, 233, 233, 0.808);
}
.charImg>.yposc>span:nth-child(1){
   width: 75px;
}
.charImg>.yposc>span:nth-child(2){
   width: 120px;
   font-size: large;
   font-weight: 700;
}
.charImg>img{
   width: 80%;
   margin-top: -5px;
}
.selectBtn{
   width: 100%;
   padding-top: 5px;
   height: calc(100% - 450px);
}
.selectBtn>ul{
   list-style: none;
}
.selectBtn>ul>li{
   font-family:'bitbit';
   border: 1px solid #999;
   width: 80%;
   height: 45px;
   margin: 10px 0 0 0;
   transition: linear 0.25s;
   cursor: pointer;
   padding-left: 15px;
   font-size: 14pt;
   line-height: 42px;
   border-radius: 2px;
   border-top: 1px solid lightgray;
   border-left: 1px solid lightgray;
   box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.35);
}
.selectBtn>ul>li:hover{
   margin-left:40px;
}
.selectBtn>ul>.selected_menu{
   margin-left:40px;
}
.statusWindow{
   width: 60%;
   min-height: 100vh;
   padding: 0 8px;
}
.status_views{
   width: 100%;
}
.other_spec{
   width: 100%;
   height: 90px;
   margin-bottom: 1.25rem;
   display: flex;
   gap: 5px;
}
.other_spec>div{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: calc(20% - 2px);
   border-radius: 2px;
   border-top: 1px solid lightgray;
   border-left: 1px solid lightgray;
   box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.35);
}
.other_spec>div>span{
   width: 100%;
   height: 50%;
   text-align: center;
}
.other_spec>div>span:nth-child(1){
   font-family:'bitbit';
   line-height: 42px;
   font-size: 12pt;
}
.other_spec>div>span:nth-child(2){
   font-size: 14pt;
}
.selected_status_views{
   width: 100%;
   height: 60px;
   text-align: center;
   border-radius: 2px;
   border-top: 1px solid lightgray;
   border-left: 1px solid lightgray;
   box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.35);
   line-height: 60px;
   margin-bottom: 1rem;
}
/***************charInfos_Page******************/
.item{
   width: 100%;
   border-radius: 2px;
   border-top: 1px solid lightgray;
   border-left: 1px solid lightgray;
   box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.35);
   margin-bottom: 0.75rem;
   height: 70px;
   display: flex;
}
.itemImg{
   width: 45px;
   background-color: #e5dde5;
   display: flex;
   flex-direction: column;
   position: relative;
}
.upgradeTrue{
   position: absolute;
   width: 45px;
   height: 45px;   
   background-image: url("https://firebasestorage.googleapis.com/v0/b/thorarcv.appspot.com/o/siroco.gif?alt=media&token=62f73d4a-575b-4ae5-8ab2-6fc1da0085e3");
   opacity: 0.55;
   background-size: cover;
}
.itemImg>span{
   height: 25px;
   font-size: small;
   font-family:'bitbit';
   line-height: 23px;
   text-align: center;
}
.itemName{
   width: 82%;
   height: 100%;
   display: flex;
}
.iNames{
   width: 75%;
   height: 100%;
}
   .opggisgood{
      text-align: center;
      height: 60%;
      line-height: 35px;
      font-size: large;
      border-bottom: 1px solid lightgrey;
   }
   .fowisnotgood{
      height: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .fowisnotgood>span{
      display: inline-block;
      font-size: small;
      text-align: center;
      width: 100%;
      font-weight: 600;
   }
   .upgradePick{
      color: rgb(165, 0, 190);
   }
.iLevels{
   width: 25%;
   height: 100%;
   border-left: 1px solid lightgrey;
}
.iLevels>div{
   text-align: center;
   line-height: 32px;
}
.total_grow{
   font-size: larger;
   font-weight: 600;
   height: 60%;
   border-bottom: 1px solid lightgrey;
}
.grow_lv{
   font-size: small;
}
.total_grow_240,.차원의{
   color: rgb(135, 10, 160);
}
.ref{
   width: calc(18% - 45px);
   height: 100%;
   line-height: 67px;
   text-align: center;
   border-left: 1px solid lightgrey;
   font-size: 1.35em;
}

/*********************stats**************************/
.stats{
   width: 100%;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 5px;
}
.one_step{
   width: 100%;
   height: 40px;
   border-radius: 2px;
   border-top: 1px solid lightgray;
   border-left: 1px solid lightgray;
   box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.35);
}
.one_step>span{
   height: 100%;
   display: inline-block;
   text-align: center;
   line-height: 40px;
}
.one_step>span:nth-child(1){
   width: 40%;
   font-size: small;
}
.one_step>span:nth-child(2){
   width: 60%;
}
/*********************stats**************************/
/*********************avatar**************************/
.item2{
   
}
.equipTem{

}
/*********************avatar**************************/