* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.topBar{
  width: 100%;
  height: 50px;
  display: flex;
}
.dfgg_logo{
  width: 240px;
  height: 100%;
  background-color: #12a737;
}
.dfgg_topmenu{
  width: 70%;
  height: 100%;
  background-color: #3c9a83;
}
.dfgg_topmenu>ul{
  list-style: none;
  display: flex;
  width: 100%;
  height: 100%;
}
.dfgg_topmenu>ul>li{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}
.dfgg_topmenu>ul>li>a{
  display: inline-block;
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dfgg_topmenu>ul>li>a>span{
  display: inline-block;
  height: 100%;
}
.poweredByNeople{
  width: calc(30% - 240px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.poweredByNeople>a{
  display: inline-block;
  width: 100%;
  height: 60%;
  text-align: center;
}
.poweredByNeople>a>img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/******************************************/
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.total_grow_240,.차원의,.붉은빛,.노란빛,.녹색빛,.푸른빛,.다색,.듀얼{color: #cf00cf;}
.플래티넘{color: #ef7000;}
.테라코타{color: #dc19ee;}
.세컨드{color: #ee1935;}
.수호자들{color: #1964ee;}
.서클{color: #12a737;}
.고대{color: #a5c925;}
.각성기{color: red;}
.opppss{
  width: 400px;
  min-height: 550px;
}
.opppss>.closeBtn{
  margin-left: 375px;
  margin-top: -15px;
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 32px;
  font-size: 26px;
  text-align: center;
  color: #07a51c;
  cursor: pointer;
}
.modal_item{
  position: relative;
  border-bottom: 1px solid black;
  height: 85px;
  margin-bottom: 3px;
}
.modal_item>img{
  position: absolute;
  width: 50px;
}
.modal_item>h3,
.modal_item>h4{
  text-align: right;
  margin-bottom: 3px;
  padding-right: 3px;
}
.modal_options{
  overflow: auto;
  height: 465px;
}
.modal_options::-webkit-scrollbar {
  width: 8px;
}
.modal_options::-webkit-scrollbar-thumb {
  background-color: #2f3542;
}
.modal_options::-webkit-scrollbar-track {
  background-color: grey;

}
.modal_options>div{
  min-height: 105px;
}
.modal_options>div>div{
  padding: 2px 0;
}
.modal_options>div>div:nth-child(2){
  display: flex;
  flex-direction: column;
  font-size: smaller;
}
.modal_options>div>div:nth-child(3){
  font-size: small;
  font-family: 'Pretendard-Regular';
}
/*****************************************/