* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.topBar{
  width: 100%;
  height: 80px;
  display: flex;
}
.menus{
  width: 70%;
  background-color: #ecd5ec;
}
.loginBx{
  width: 30%;
  background-color: aqua;
}
.loginBx>div{
  display: inline-block;
  width: 50%;
  height: 100%;
  text-align: center;
}

/******************************************/
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.total_grow_240,.차원의,.붉은빛,.노란빛,.녹색빛,.푸른빛,.다색,.듀얼{color: #cf00cf;}
.플래티넘{color: #ef7000;}
.테라코타{color: #dc19ee;}
.세컨드{color: #ee1935;}
.수호자들{color: #1964ee;}
.서클{color: #12a737;}
.고대{color: #a5c925;}
.각성기{color: red;}
.opppss{
  width: 400px;
  min-height: 550px;
}
.opppss>.closeBtn{
  margin-left: 375px;
  margin-top: -15px;
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 32px;
  font-size: 26px;
  text-align: center;
  color: #07a51c;
  cursor: pointer;
}
.modal_item{
  position: relative;
  border-bottom: 1px solid black;
  height: 85px;
  margin-bottom: 3px;
}
.modal_item>img{
  position: absolute;
  width: 50px;
}
.modal_item>h3,
.modal_item>h4{
  text-align: right;
  margin-bottom: 3px;
  padding-right: 3px;
}
.modal_options{
  overflow: auto;
  height: 465px;
}
.modal_options>div{
  min-height: 115px;
}
.modal_options>div>div{
  padding: 2px 0;
}
.modal_options>div>div:nth-child(2){
  display: flex;
  flex-direction: column;
  font-size: smaller;
}
.modal_options>div>div:nth-child(3){
  font-size: small;
  font-family: 'Pretendard-Regular';
}
/*****************************************/